<form [formGroup]="form" class="example-container" (submit)="add($event)">
    <mat-form-field>
        <mat-label>Enter the title</mat-label>
        <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter the descraption</mat-label>
        <input matInput type="text" formControlName="descraption" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter the identity of the teacher</mat-label>
        <input matInput type="text" formControlName="teacherId" />
        
    </mat-form-field>
    <section>
        <div class="example-button-row">
            <button mat-flat-button type="submit">Add </button>
        </div>
    </section>
</form>