<mat-list role="list">
    <mat-toolbar class="mat-bar">

        <span>Lessons</span>
        <span class="example-spacer"></span>
        @if(roleUser==='"teacher"') {
        <button mat-raised-button color="primary" (click)="addLesson()">Add Lesson</button>
        }
    </mat-toolbar>

    @for (lesson of (lessons$|async); track lesson.id) {
    <div>fhdzh</div>
    @if(!lessonId){
    <div>
        <div>{{lesson.id}} lesson id</div>
        <mat-list-item role="listitem">
            <h3 mat-line>{{lesson.title}} dsad</h3>
            <h3 mat-line>{{lesson.content}} gsdg</h3>
        </mat-list-item>
        @if(roleUser==='"teacher"') {
        <button mat-raised-button color="primary" (click)="editLesson(lesson.id)">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteLesson(lesson)">Delete</button>
        @if(lessonId){
        <app-update-lesson [lessonId]="lesson.id"></app-update-lesson>
        }

        }
    </div>
    }
    }
    @empty {
    <mat-list-item role="listitem">
        <h3 mat-line>No lessons available</h3>
    </mat-list-item>
    }
</mat-list>