<mat-list role="list">

    <mat-toolbar class="mat-bar">

        <span>Courses-Online</span>
        <span class="example-spacer"></span>
        @if(roleUser==='teacher') {
        <button mat-raised-button color="primary" (click)="addCourse()">Add Course</button>
        }
    </mat-toolbar>

    @for (course of (courses$|async); track course.id) {
    <div>
        <button (click)="showLessons(course)">
            <mat-list-item role="listitem">
                <h3 mat-line>{{course.title}}</h3>
                <p mat-line>{{course.description}}</p>
            </mat-list-item>
        </button>
        <button appButtonStyle color="black" (click)="enroll(course)">Enroll</button>
        <button appButtonStyle color="black" (click)="unenroll(course)">Unenroll</button>
        @if(roleUser==='teacher') {
        <button mat-raised-button color="black" (click)="deleteCourse(course)">Delete</button>
        <button mat-raised-button color="black" (click)="editCourse(course)">Edit</button>

        }
        @if(courseId){
        <app-lessons [courseId]="course.id"></app-lessons>
        }
    </div>
    @if(updateCourse){
        <app-update-course [courseId]="course.id"></app-update-course>
    }
    }

    @empty {
    <mat-list-item role="listitem">
        <h3 mat-line>No courses available</h3>
    </mat-list-item>
    }

    
</mat-list>